
 <!-- <angular-image-slider
[autoRotate]="true"
[autoRotateAfter]="5000"
[autoRotateRight]="true"
[images]="imageObject"
></angular-image-slider>  -->
<!-- <ng-image-slider [images]="imageObject" ></ng-image-slider> -->
<angular-image-slider  [autoRotate]="true"  [autoRotateAfter]="5000"
[autoRotateRight]="true" [images]="imagesUrl" ></angular-image-slider> 
<!-- <angular-image-slider>
[autoRotate]="true"
  [autoRotateAfter]="5000"
  [autoRotateRight]="true"
  [images]="imagesUrl"
</angular-image-slider> -->